@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color:#F9F9F9;

}
*{
    margin:0;
    padding: 0%;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height:64px;
    background-color: BLACK;
    color:white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width:57px;
    padding:0 8px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height:75vh;
    background-color:black;
    color:black;
    font-family:'Varela Round',sans-serif;
    display:flex;
    margin:23px auto;
    width:70%;
    border-radius: 12px;
    padding:34px;
    background-image: url('songlala.png');
    background-size: cover;

}
.bottom{
    position:sticky;
    bottom: 0%;
    height:120px;
    color:white;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 25px;
    padding: 2px;
}
.icons i{
    cursor:pointer;
    padding:4px;
}
#myProgressBar{
    width:80vw;
    text-align:center;
    cursor: pointer;
}
.songitem{
 height:60px;
 display:flex;
 background-color: white;
 width:80%;
 margin:12px 0;
 justify-content:space-between;
 align-items: center;
 border-radius: 13px;
}
.songitem img{
    width:50px;
    margin:0 23px 0;
    border-radius: 50px;
}
.timestamp{
    margin:0 23px;
}
.timestamp i{
    cursor:pointer;
}
.songitemscontainer{
    margin-top: 4px;
}
.songinfo{
    position:absolute;
    left:10vw;
    top:3vw;
    font-family: 'Varela Round',sans-serif;
}
.songinfo img{
    width:88px;
    opacity:1;
    transition: opacity 0.4s ease-in;
}
